


<div class="show-poa-container">
  <div class="card-show-poa">
    <% if current_user.user_banner.attached? %>
      <div class="card-picture" style="background-image: url(<%= cl_image_path(current_user.user_banner.photo.key, height: 300, width: 400, crop: :fill) %>);">
      </div>
    <% else %>
      <div class="card-picture" style="background-image: url(<%= image_path('https://images.unsplash.com/photo-1555443805-658637491dd4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=932&q=80') %>);">
      </div>
    <% end %>


<% if @piece_of_arts.blank? && @pending_bookings.blank? && @approved_bookings.blank? && @ongoing_bookings.blank? && @past_bookings.blank? %>
<p> Your profile is currently empty, you can <%= link_to 'list a piece of Art', new_piece_of_art_path  %> or <%= link_to 'find one', piece_of_arts_path %> </p>
<% end %>

<% if @piece_of_arts.present? %>
<h2 class="light-h text-center" > My Piece of Arts </h2>

 <%  @piece_of_arts.each do |poa| %>
  <div class="card-pro-poa ">
    <% if poa.photo.attached? %>
      <%= cl_image_tag poa.photo.key %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= link_to poa.name, piece_of_art_path(poa) %></h2>
        <p>Artist: <%= poa.artist_name %></p>
        <p>Daily Price:<%= poa.daily_price%>€</p>
    </div>
  </div>
  <% end %>

<% end %>

<% if @pending_bookings.present? %>
<h2 class="light-h text-center justify-center"> Waiting for owner's approval </h3>

        <% @pending_bookings.each do |booking| %>
        <div class="card-pro-poa d-flex justify-content-between align-items-end">
          <div class="left-card d-flex">
            <% if booking.piece_of_art.photo.attached? %>
              <%= cl_image_tag booking.piece_of_art.photo.key %>
            <% end %>
            <div class="card-product-infos text-nowrap">
              <% if booking.piece_of_art.name.length > 16 %>
            <h2><%= booking.piece_of_art.name.first(14)+".." %></h2>
          <% else %>
            <h2><%= booking.piece_of_art.name.first(14)+".." %></h2>
          <% end %>
              <p>Start: <%= booking.start_date %></p>
              <p>End: <%= booking.end_date %></p>
              <p>Total Price:<%= booking.total_price%>€</p>
            </div>
          </div>

          <div class="right-card">
            <div class="status-buttons d-flex flex-column">
              <%= link_to 'Cancel', booking_path(booking, params: { Action: 'Cancel' }), method: :patch, class: 'btn btn-empty-poa mx-1 list-group-item btn-navbar'  %>
            </div>
          </div>
      </div>
      <% end %>
<% end %>

<% if @approved_bookings.present? %>
<h2 class="light-h text-center"> My next bookings </h2>

  <% @approved_bookings.each do |booking| %>
  <div class="card-pro-poa d-flex justify-content-between align-items-end">
          <div class="left-card d-flex">
            <% if booking.piece_of_art.photo.attached? %>
              <%= cl_image_tag booking.piece_of_art.photo.key %>
            <% end %>
            <div class="card-product-infos">
              <% if booking.piece_of_art.name.length > 16 %>
            <h2><%= booking.piece_of_art.name.first(14)+".." %></h2>
          <% else %>
            <h2><%= booking.piece_of_art.name.first(14)+".." %></h2>
          <% end %>
              <p>Start Date: <%= booking.start_date %></p>
              <p>End Date: <%= booking.end_date %></p>
              <p>Total Price:<%= booking.total_price%>€</p>
            </div>
          </div>

          <div class="right-card">
            <div class="status-buttons d-flex flex-column">
              <%= link_to 'Cancel', booking_path(booking, params: { Action: 'Cancel' }), method: :patch, class: 'btn btn-empty-poa mx-1 list-group-item btn-navbar'  %>
            </div>
          </div>
      </div>
  <% end %>

<% end %>

<% if @ongoing_bookings.present? %>
  <h2 class="light-h text-center"> Currently at Home </h2>

    <% @ongoing_bookings.each do |booking| %>
      <div class="card-pro-poa">
        <% if booking.piece_of_art.photo.attached? %>
          <%= cl_image_tag booking.piece_of_art.photo.key %>
        <% end %>
        <div class="card-product-infos">
          <% if booking.piece_of_art.name.length > 16 %>
            <h2><%= booking.piece_of_art.name.first(14)+".." %></h2>
          <% else %>
            <h2><%= booking.piece_of_art.name.first(14)+".." %></h2>
          <% end %>
          <p>Start Date: <%= booking.start_date %></p>
          <p>End Date: <%= booking.end_date %></p>
          <p>Total Price:<%= booking.total_price%>€</p>
        </div>
      </div>
    <% end %>

  <% end %>

  <% if @past_bookings.present? %>
    <h2 class="light-h text-center"> Past Bookings </h2>

      <% @past_bookings.each do |booking| %>
      <div class="card-pro-poa d-flex justify-content-between align-items-end">
          <div class="left-card d-flex">
            <% if booking.piece_of_art.photo.attached? %>
              <%= cl_image_tag booking.piece_of_art.photo.key %>
            <% end %>
            <div class="card-product-infos">
              <% if booking.piece_of_art.name.length > 16 %>
            <h2><%= booking.piece_of_art.name.first(14)+".." %></h2>
          <% else %>
            <h2><%= booking.piece_of_art.name.first(14)+".." %></h2>
          <% end %>
              <p>Start Date: <%= booking.start_date %></p>
              <p>End Date: <%= booking.end_date %></p>
              <p>Total Price:<%= booking.total_price%>€</p>
            </div>
          </div>

          <div class="right-card">
            <div class="status-buttons d-flex flex-column">
              <%= link_to 'Review', booking_path(booking), method: :patch, class: 'btn btn-empty-poa mx-1 list-group-item btn-navbar'  %>
            </div>
          </div>
      </div>
       <% end %>

  <% end %>
</div>

