
<h2> My Piece of Arts </h2>
<ul>
 <%  @piece_of_arts.each do |poa| %>
  <div class="card-pro-poa mr-5">
    <% if poa.photo.attached? %>
      <%= cl_image_tag poa.photo.key %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= link_to poa.name, piece_of_art_path(poa) %></h2>
        <p>Artist: <%= poa.artist_name %></p>
        <p>Daily Price:<%= poa.daily_price%>€</p>
    </div>
  </div>
  <% end %>
</ul>


<h3> Waiting for owner's approval </h3>

 <ul>
        <% @pending_bookings.each do |booking| %>
        <div class="card-pro-poa mr-5">
            <% if booking.piece_of_art.photo.attached? %>
              <%= cl_image_tag booking.piece_of_art.photo.key %>
            <% end %>
            <div class="card-product-infos">
              <h2><%= booking.piece_of_art.name %></h2>
                <p>Start Date: <%= booking.start_date %> - End Date: <%= booking.start_date %></p>
                <p>Total Price:<%= booking.total_price%>€</p>
                <%= simple_form_for(booking) do |f| %>
                <%= f.submit "Cancel", name:'Action', class:'btn-danger' %>
                <% end %>
            </div>
        </div>
        <% end %>
  </ul>



<h2> My next bookings </h2>
<ul>
        <% @approved_bookings.each do |booking| %>
        <div class="card-pro-poa mr-5">
            <% if booking.piece_of_art.photo.attached? %>
              <%= cl_image_tag booking.piece_of_art.photo.key %>
            <% end %>
            <div class="card-product-infos">
              <h2><%= booking.piece_of_art.name %></h2>
                <p>Start Date: <%= booking.start_date %> - End Date: <%= booking.start_date %></p>
                <p>Total Price:<%= booking.total_price%>€</p>
                <%= simple_form_for(booking) do |f| %>
                <%= f.submit "Cancel", name:'Action', class:'btn-danger' %>
                <% end %>
            </div>
        </div>
        <% end %>
</ul>

<h2> Currently at Home </h2>
<ul>
        <% @ongoing_bookings.each do |booking| %>
        <div class="card-pro-poa mr-5">
            <% if booking.piece_of_art.photo.attached? %>
              <%= cl_image_tag booking.piece_of_art.photo.key %>
            <% end %>
            <div class="card-product-infos">
              <h2><%= booking.piece_of_art.name %></h2>
                <p>Start Date: <%= booking.start_date %> - End Date: <%= booking.start_date %></p>
                <p>Total Price:<%= booking.total_price%>€</p>
            </div>
        </div>
        <% end %>
</ul>

<h2> Past Bookings </h2>
<ul>
        <% @past_bookings.each do |booking| %>
        <div class="card-pro-poa mr-5">
            <% if booking.piece_of_art.photo.attached? %>
              <%= cl_image_tag booking.piece_of_art.photo.key %>
            <% end %>
            <div class="card-product-infos">
              <h2><%= booking.piece_of_art.name %></h2>
                <p>Start Date: <%= booking.start_date %> - End Date: <%= booking.start_date %></p>
                <p>Total Price:<%= booking.total_price%>€</p>
                <h2><%= link_to 'Rate & review', booking_path(booking) %></h2>
            </div>
        </div>
        <% end %>
</ul>
