<div class="show-poa-container">
  <div class="card-show-poa">
    <% if current_user.user_banner.attached? %>
      <div class="card-picture" style="background-image: url(<%= cl_image_path(current_user.user_banner.photo.key, height: 300, width: 400, crop: :fill) %>);">
      </div>
    <% else %>
      <div class="card-picture" style="background-image: url(<%= image_path('https://images.unsplash.com/photo-1555443805-658637491dd4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=932&q=80') %>);">
      </div>
    <% end %>


<% if @owner_pending_bookings.blank? && @owner_approved_bookings.blank? && @owner_ongoing_bookings.blank? && @owner_past_bookings.blank? && @owner_declined_bookings.blank? %>
<p> You have no booking history yet </p>
<% end %>

<% if @owner_pending_bookings.present? || @owner_approved_bookings.present? || @owner_ongoing_bookings.present? || @owner_past_bookings.present? || @owner_declined_bookings.present?  %>
<h1 class="light-h text-center"> My Dashboard </h1>
<% end %>

<% if @owner_pending_bookings.present? %>
  <h2 class="light-h text-center"> Pending my review </h2>


    <% @owner_pending_bookings.each do |booking| %>
    <div class="card-pro-poa  d-flex justify-content-between align-items-center">
       <div class="left-card d-flex">
          <% if booking.piece_of_art.photo.attached? %>
            <%= cl_image_tag booking.piece_of_art.photo.key %>
          <% end %>
        <div class="card-product-infos">
          <% if booking.piece_of_art.name.length > 16 %>
            <h2><%= booking.piece_of_art.name.first(14)+".." %></h2>
          <% else %>
            <h2><%= booking.piece_of_art.name.first(14)+".." %></h2>
          <% end %>
            <p>Start: <%= booking.start_date %></p>
            <p>End: <%= booking.end_date %></p>
            <p>Total Price:<%= booking.total_price%>€</p>
        </div>
      </div>

      <div class="right-card">
        <div class="status-buttons d-flex flex-column">
          <%= link_to 'Approve', booking_path(booking, params: { Action: 'Approve' }), method: :patch, class: 'btn btn-empty-poa mx-1  btn-navbar'  %>
          <%= link_to 'Decline', booking_path(booking, params: { Action: 'Decline' }), method: :patch, class: 'btn btn-empty-poa mx-1  btn-navbar'  %>
        </div>
      </div>
    </div>
    <% end %>

<% end %>

<% if @owner_approved_bookings.present? %>
  <h2 class="light-h text-center"> Accepted bookings </h2>

      <% @owner_approved_bookings.each do |booking| %>
      <div class="card-pro-poa  d-flex justify-content-between align-items-end">
        <div class="left-card d-flex">
          <% if booking.piece_of_art.photo.attached? %>
            <%= cl_image_tag booking.piece_of_art.photo.key %>
          <% end %>
          <div class="card-product-infos">
            <% if booking.piece_of_art.name.length > 16 %>
            <h2><%= booking.piece_of_art.name.first(14)+".." %></h2>
          <% else %>
            <h2><%= booking.piece_of_art.name.first(14)+".." %></h2>
          <% end %>
            <p>Start: <%= booking.start_date %></p>
            <p>End: <%= booking.end_date %></p>
            <p>Total Price:<%= booking.total_price%>€</p>
          </div>
        </div>

        <div class="right-card">
          <div class="status-buttons d-flex flex-column">
            <%= link_to 'Cancel', booking_path(booking, params: { Action: 'Cancel' }), method: :patch, class: 'btn btn-empty-poa mx-1 list-group-item btn-navbar'  %>
          </div>
        </div>
      </div>
      <% end %>

<% end %>

<% if @owner_ongoing_bookings.present? %>
  <h2 class="light-h text-center"> Currently Booked </h2>

    <% @owner_ongoing_bookings.each do |booking| %>
      <div class="card-pro-poa ">
        <% if booking.piece_of_art.photo.attached? %>
          <%= cl_image_tag booking.piece_of_art.photo.key %>
        <% end %>
        <div class="card-product-infos">
        <% if booking.piece_of_art.name.length > 16 %>
            <h2><%= booking.piece_of_art.name.first(14)+".." %></h2>
          <% else %>
            <h2><%= booking.piece_of_art.name.first(14)+".." %></h2>
          <% end %>
          <p>Start: <%= booking.start_date %></p>
          <p>End: <%= booking.end_date %></p>
          <p>Total Price:<%= booking.total_price%>€</p>
        </div>
      </div>
    <% end %>

<% end %>


  <% if @owner_past_bookings.present? %>
    <h2 class="light-h text-center"> Past Bookings </h2>

          <% @past_bookings.each do |booking| %>
            <div class="card-pro-poa ">
              <% if booking.piece_of_art.photo.attached? %>
                <%= cl_image_tag booking.piece_of_art.photo.key %>
              <% end %>
              <div class="card-product-infos">
                <% if booking.piece_of_art.name.length > 16 %>
            <h2><%= booking.piece_of_art.name.first(14)+".." %></h2>
          <% else %>
            <h2><%= booking.piece_of_art.name.first(14)+".." %></h2>
          <% end %>
                <p>Start: <%= booking.start_date %></p>
                <p>End: <%= booking.end_date %></p>
                <p>Total Price:<%= booking.total_price%>€</p>
                <h2><%= link_to 'Rate & review', booking_path(booking) %></h2>
              </div>
            </div>
          <% end %>

    <% end %>

  <% if @owner_declined_bookings.present? %>
    <h2 class="light-h text-center"> Booking Declined </h2>

      <% @owner_declined_bookings.each do |booking| %>
        <div class="card-pro-poa ">
          <% if booking.piece_of_art.photo.attached? %>
            <%= cl_image_tag booking.piece_of_art.photo.key %>
          <% end %>
          <div class="card-product-infos">
          <% if booking.piece_of_art.name.length > 16 %>
            <h2><%= booking.piece_of_art.name.first(14)+".." %></h2>
          <% else %>
            <h2><%= booking.piece_of_art.name.first(14)+".." %></h2>
          <% end %>
            <p>Start: <%= booking.start_date %></p>
            <p>End: <%= booking.end_date %></p>
            <p>Total Price:<%= booking.total_price%>€</p>
          </div>
        </div>
      <% end %>

  <% end %>
</div>

