<%= render 'shared/banner-search' %>
<div class="below-banner-container">

  <div class="feed">
    <% if @piece_of_arts.count > 1 %>
        <p><%=@piece_of_arts.count%> pieces of art founded</p>
      <% elsif @piece_of_arts.count == 1 %>
        <p><%=@piece_of_arts.count%> piece of art founded</p>
      <% else %>
        <p>Sorry, we have nothing matching your criteria</p>
      <% end %>
    <% @piece_of_arts.each do |poa| %>
    <%= link_to piece_of_art_path(poa) do  %>
        <div class="carrousel-card">
        <div class="carrousel-img">
          <% if poa.photo.attached? %>
            <%= cl_image_tag poa.photo.key  %>
          <% end %>

        </div>
        <h3><%= poa.name %></h3>
        <h4><%= poa.artist_name %></h4>
        <div class="card-content">
          <p class="col-10"><%= poa.description %></p>
          <p class="price-in-card col-2"><%= poa.daily_price %>&nbsp€ /day</p>
        </div>
        </div>
      <% end %>
      <% end %>
  </div>

