
<!-- formfor -->
<div class= "container" style="


background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
url(https://images.unsplash.com/photo-1541367777708-7905fe3296c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2272&q=80);
color: white;
font-weight: bold;
justify-content: center;
">
  <div class= "form-group" >
    <%= simple_form_for @piece_of_art do |f| %>
      <%= f.input :name %>
      <%= f.input :category, :collection => %w[Painting Sculpture Photo] %>
      <%= f.input :daily_price, placeholder: 'euros', as: :integer %>
      <%= f.input :description, as: :text %>
      <%= f.input :artist_name %>
      <%= f.input :creation_date %>
      <%= f.input :available_for_sale, as: :boolean %>
      <%= f.input :buying_price, placeholder: 'euros', as: :integer %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit,:class => "btn btn-full mx-1 list-group-item btn-navbar" %>
        </div>
    <% end %>
  </div>
</div>
