<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1 shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
    <script src="https://unpkg.com/swiper/js/swiper.js" defer ></script>


    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

    <%= render 'shared/nav-bar' %>
    <% unless controller_name == 'piece_of_arts' && action_name == 'index' %>
     <div class="main-container" style='background-color: grey'>  %>
    <% end %>
      <%= yield %>
    <% unless controller_name == 'piece_of_arts' && action_name == 'index' %>
    </div>
    <% end %>
      <%= render 'shared/footer' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
